/*.map {*/
    /*width: 800px;*/
    /*height: 800px;*/
/*}*/

.pub_point {
    fill:rgb(148,0,211);
    stroke: #fff;
    fill-opacity: 0.6;
}

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100vh;
    width: 100vw;
}